@require '_variables'
@require '_mixins'

.button
  display block
  margin 0
  padding 0
  min-width 40px
  max-width 100%
  background-color $color-grey
  color $color-grey-dark
  font-size $font-size-sm
  text-align center
  text-decoration none
  text-overflow ellipsis
  line-height 40px
  white-space nowrap
  overflow hidden
  border-width 1px
  border-style solid
  border-color $color-grey
  cursor pointer
  border-radius(3px)
  box-sizing(border-box)
  &:hover
    background-color $color-grey-semi-light
  &:focus
    outline 0
  &.button-primary
    padding 0 20px
    background-color $color-primary
    color $color-lightest
    text-shadow 0 -1px 0 $color-blue-dark
    border-color $color-primary
    &:hover,
    &:focus
      background-color $color-blue-semi-light
  &.button-danger
    padding 0 10px
    background-color transparent
    color alpha($color-red-semi-light, 0.5)
    font-size $font-size-xs
    border-color alpha($color-red-semi-light, 0.5)
    &:hover
      background-color $color-red-semi-light
      color $color-lightest
      border-color $color-red-semi-light
  &.button-small
    line-height 20px
  &.button-circled
    padding 0
    width 40px
    height 40px
    border-radius(50%)
  .icon
    left -5px
