@import '_variables';

.key-select {
  display: inline-block;
  margin-left: 20px;
  .copy-key {
    width: 36px;
    max-width: 36px;
    min-width: 36px;
    background-color: $color-black;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
      background-color: lighten($color-black, 5%);
    }
  }
  .output-key {
    padding: 10.5px;
    background-color: $color-black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
