@import '_mixins';

.logo {
  margin: 0 auto;
  width: 286px;
  height: 60px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  @include background-image('logo.svg');
}
