@import '_variables';
@import '_mixins';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html, body {
  min-height: 100%;
  @include box-sizing(border-box);
}

body {
  background-color: $color-blue-dark;
  font-family: $font-family-primary;
}

input {
  padding: 8px;
  min-width: 300px;
  background-color: transparent;
  color: $color-white;
  border: 1px solid $color-white;
  @include border-radius(3px);
  &:focus {
    color: $color-blue-semi-light;
    border: 1px solid $color-blue-semi-light;
    outline: 0;
  }
  &:disabled {
    background-color: $color-blue-semi-dark;
    border: 1px solid $color-blue-semi-dark;
    cursor: text;
  }
}

label {
  color: $color-blue;
  font-size: $font-size-xxs;
  font-weight: bold;
  text-transform: uppercase;
}
