@require '_variables'
@require '_mixins'

.project-menu
  position absolute
  top 0
  left 0
  padding 30px 0 0
  width 220px
  min-height 100%
  background-color $color-blue-semi-dark

.project-menu-list-item
  padding 10px 20px
  cursor pointer
  @include clearfix()
  &:hover
    background-color $color-blue
  .icon
    float left
    top 3px

.project-menu-list-item-label
  float left
  padding-left 10px
  line-height 24px

.project-menu-add-button-container
  margin 30px auto 0
  width 180px
