@require '_variables'
@require '_mixins'
@require 'native'

.project-summary-container
  margin-bottom 30px
  padding-bottom 30px
  border-bottom 1px solid $color-blue-semi-dark

.project-summary-content-row
  clearfix()
  &:not(:first-child)
    margin-top 20px

.project-summary-title-container,
.project-summary-action-container,
.project-summary-project-id-container,
.project-summary-experiments-container
  float left
  width 50%

.project-summary-title-container
  .button
    display inline-block
    margin-left 20px

.project-summary-title
  display inline-block
  font-size $font-size-xxl

.project-summary-label
  @extend label
  &:not(:first-child)
    margin-top 20px

.project-summary-value
  margin-top 5px

.project-summary-action-container
  .button
    display inline-block

.project-summary-action-container,
.project-summary-experiments-container
  text-align right

+breakpoint('xs')
  .project-summary-title-container,
  .project-summary-action-container,
  .project-summary-project-id-container,
  .project-summary-experiments-container
    width 100%
  .project-summary-action-container,
  .project-summary-experiments-container
    margin-top 10px
    text-align left
