@require '_variables'
@require '_mixins'

$topbar-padding = 20px

.topbar
  position fixed
  top 0
  left 0
  right 0
  background-color alpha($color-blue-dark, 0.85)
  padding 20px
  line-height 20px
  z-index $layer-middle
  box-sizing(border-box)
  .logo
    float left
    width 135px
    height 15px
  .user-menu-container
    float right

.topbar-content
  margin 0 auto
  max-width 960px
  clearfix()
