@require '_variables'
@require '_mixins'

.user-menu
  margin 0
  padding 0
  list-style-type none
  clearfix()

.user-menu-item
  float left
  & + .user-menu-item
    margin-left 30px

.user-menu-item-link
  position relative
  padding-left 25px
  color $color-lightest
  text-decoration none
  .icon
    position absolute
    top 50%
    left 0
    font-size 20px
    transform('translate(0,-50%)')

+breakpoint('xs')
  .user-menu-item-link-text
    display none
  .user-menu-item
    & + .user-menu-item
      margin-left 20px
