@import 'colors';

* {
 margin: 0px;
 padding: 0px;
}

h1,h2,h3 {
  margin: 0px;
  padding: 0px;
}

body {
   background-color: $primary-dark;
}

.page {
  display: inline-block;
  width: auto;
}

.hfill {
  height: 100%;
}

.wfill {
  width: 100%;
}
