<main-layout>
  <div class="project-header-container">
    <div class="project-header">
      <div class="gg-row gg-kot">
        <div class="gg-col-3">
          <label>
            Name
          </label>
        </div>
        <div class="gg-col-9">
          Teleflik
        </div>
      </div>
      <div class="gg-row gg-kot form-row">
        <div class="gg-col-3">
          <label>
            Token
          </label>
        </div>
        <div class="gg-col-9">
          1jhlkh123hj290k29kshnamchjdoao
        </div>
      </div>
      <div class="gg-row gg-kot form-row">
        <div class="gg-col-3">
          <label>
            Experiments
          </label>
        </div>
        <div class="gg-col-9">
          3
        </div>
      </div>
      <div class="gg-row gg-kot form-row-large">
        <div class="gg-col-4">
          <a ui-sref="experiments-new" class="button button-primary" title="New Experiment">
            <icon data-icon="grade"></icon>
            New Experiment
          </a>
        </div>
      </div>
    </div>
  </div>
</main-layout>