extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/cta-bar.pug
include ../components/contact-form.pug

block config
  - var title = 'Contact'
  - var description = 'Ask us anything. We are here to help.'
  - var keywords = 'ab, test, web experiment, ask us anything, contact'

block content
  +page-header-small('Ask us anything. We are here to help.', 'Send a message')
  section.section-secondary.section-angled.section-contact
    .gg-box
      .gg-row
        .gg-col-12
            h1.section-title Contact
      .gg-row
        .gg-col-12
          +contact-form
  +cta-bar('Get your conversion higher.')
