extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/usage-code-panels.pug
include ../components/cta-bar.pug

block config
  - var title = 'Docs'
  - var description = 'Easy to use. Easier to get improved.'
  - var keywords = 'ab, test, web experiment, docs, documentation, easy to use'

block content
  +page-header-small('Easy to use. Easier to get better.', 'See how to use')
  section.section-usage.section-secondary.section-angled
    .gg-box
      .gg-row
        .gg-col-12
            h1.section-title How to use
      .gg-row
        .gg-col-12
          +usage-code-panels
  +cta-bar('Get your conversion higher.')
