extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/cta-bar.pug

block config
  - var title = 'Home'
  - var description = 'Get experiments complexity abstracted and make your AB tests statistically trustable.'
  - var keywords = 'ab, test, web experiment, control, hypothesis, statistics, trustuble'

block content
  +page-header('Get experiments complexity abxtracted and make your AB tests trustable.', 'See the benefits')
  section.section-home-benefits
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Benefits
          ul.list-vectors
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-machine
              .list-vectors-text
                h2 Let the complexity with us.
                p.
                  When you take care about statistics calculations by
                  yourself, you waste time worrying about something that has
                  nothing to do with your real business. Let this complexity
                  with us and focus in get your conversion higher.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-experiments
              .list-vectors-text
                h2 Get trustuble results.
                p.
                  When you take the risk for statistical calculations, you
                  might be forgetting critical aspects that end up leading
                  you to wrong decisions. We take care about all of this and
                  what you get is a trustuble and crystal clear report for
                  every experiment you do.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-gift
              .list-vectors-text
                h2 No commitment. Try it for free.
                p.
                  If you not sure about the amount of time we are gonna save
                  for you and for your team, give us a try. No credit card
                  required. 30 days free trial. You have nothing to lose and
                  we ensure you are gonna like it.
  +cta-bar('Take your AB tests serious.')
