extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/price-bang.pug
include ../components/cta-bar.pug

block config
  - var title = 'Pricing'
  - var description = 'Data first. Payment after.'
  - var keywords = 'ab, test, web experiment, one simple plan, payment'

block content
  +page-header-small('Start for free. Then, pay as you go.', 'One simple plan only')
  section.section-pricing.section-secondary.section-angled
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Pricing
      .gg-row
        .gg-col-12
          +price-bang(0)
      .gg-row
        .gg-col-12
            .caption
              != '*200,000 data tracks for free.<br />Then, $0.15 for each 1k adittional data tracks.'
  +cta-bar('Take your AB tests serious.')
