extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/cta-bar.pug

block config
  - var title = 'Pricing'
  - var description = 'Data first. Payment after.'
  - var keywords = 'ab, test, web experiment, one simple plan, payment'

block content
  +page-header('Data first. Payment after.', 'One simple plan only')
  section.section-pricing
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Pricing
      .gg-row
        .gg-col-12
          .price-bang-container
            .price-bang-value 39
            .price-bang-caption a month*
      .gg-row
        .gg-col-12
            .caption
              != 'One simple plan only. 30 days free trial. No credit card required.<br />*200,000 data tracks plus $0.15 for each 1k adittional dat tracks.'
  +cta-bar('Take your AB tests serious.')
