@import '../../colors';

.dash {
  .dash-content{
    margin-left: 30px;
    margin-top: 30px;
  }
  .head {
    h1 {
      margin-top: 10px;
      text-weight: 100;
      display: inline-block;
    }
  }
}
