<form class="project-new-form" ng-submit="$ctrl.save()">
  <alert data-alert="$ctrl.alert"></alert>
  <div class="gg-row">
    <div class="gg-col-12">
      <label>
        Name
      </label>
    </div>
  </div>
  <div class="gg-row form-row-small">
    <div class="gg-col-12">
      <input type="text" name="projectName" ng-model="$ctrl.project.name"
      required autofocus focus-if />
    </div>
  </div>
  <div class="gg-row form-row">
    <div class="gg-col-12">
      <button type="submit" class="button button-primary">
        Save
      </button>
    </div>
  </div>
</form>
