@import '../../colors';
.menu {
  height: 100%;
  padding: 0px;
  box-shadow: 3px 0px 15px -3px #212121;
  background-color: $primary-darkest;
  md-content {
    background-color: $primary-darkest;
  }

  .project-list {
    .project {
      .project-icon {
        margin-right: 10px;
        margin-top: 18px;
        margin-bottom: 18px;
      }
    }
  }
}
