// Color Pallete
$color-grey-light = #F1F1F1
$color-grey = #C9D3DD
$color-grey-dark = #737C84

$color-blue-light = #B8DCFF
$color-blue-semi-light = #80BEFF
$color-blue = #69A3FF
$color-blue-semi-dark = #324870
$color-blue-dark = #222A46

$color-purple = #8C73C8

$color-green-light = #C8FFC8
$color-green = #00D082
$color-green-dark = #00AE6D

$color-red-light = #FFA086
$color-red-semi-light = #E6676C
$color-red = #ED1946
$color-red-dark = #CF1946

$color-orange-light = #FFC896
$color-orange = #FF9632
$color-orange-dark = #F78900

$color-yellow-light = #FFFFC8
$color-yellow = #FFFF8C
$color-yellow-dark = #D8D878

$color-white = #FFFFFF
$color-black = #333333

$color-primary = $color-blue

// Font
$font-family-primary = 'Helvetica', 'Arial', sans-serif
$font-family-code = 'Consolas', 'Monaco', monospace
$font-size-xxs = 0.75em  // 12px
$font-size-xs = 0.875em  // 14px
$font-size-sm = 1em      // 16px
$font-size-md = 1.125em  // 18px
$font-size-lg = 1.25em   // 20px
$font-size-xl = 1.5em    // 24px
$font-size-xxl = 2.25em  // 36px

// Layer
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// Animation
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)

// Paths
$path-images = '../images/'

// Brakpoints
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 1024px
$screen-md-min = 1025px
$screen-md-max = 1439px
$screen-lg-min = 1440px
