@require '_mixins'

.list-vectors
  display block
  li
    margin-top 50px
    clearfix()
    &:nth-child(even)
      .list-vectors-text
        padding-left 0
      .list-vectors-graph-container
        float right

.list-vectors-graph-container,
.list-vectors-text
  float left
  width 50%
  min-height 1px
  box-sizing(border-box)

.list-vectors-graph
  padding-right 25px
  background-position center center
  background-repeat no-repeat
  background-size 80% auto
  height 220px
  &.list-vectors-graph-machine
    background-image('vector-machine.svg')
  &.list-vectors-graph-experiments
    background-image('vector-experiments.svg')
  &.list-vectors-graph-gift
    background-image('vector-gift.svg')

.list-vectors-text
  padding-left 25px
  padding-top 35px

+breakpoint('xs')
  .list-vectors-graph-container,
  .list-vectors-text
    width 100%
  .list-vectors
    li
      &:nth-child(even)
        .list-vectors-text
          padding-left 25px
  .list-vectors-text
    padding-right 25px
    padding-top 35px
