@require '_variables'
@require '_mixins'

body
  background-color $color-blue-semi-dark
  color $color-white
  font-family $font-family-primary
  font-size 16px

body, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  font-weight normal

h1
  font-size $font-size-xxl
h2
  font-size $font-size-xl
h3
  font-size $font-size-md
h4
  font-size $font-size-sm
h5
  font-size $font-size-xs
h6
  font-size $font-size-xxs

a
  cursor pointer

input,
textarea
  padding 5px
  width 100%
  font-size $font-size-sm
  border 1px solid $color-white
  border-radius(3px)
  box-sizing(border-box)

input
  line-height 30px

ul
  margin 0
  padding 0
  list-style-type none
