@require '_mixins'

.price-bang-container
  margin 0 auto
  text-align center
  line-height 1

.price-bang-value
  position relative
  display inline-block
  font-size 9em
  &:before
    position absolute
    top 50%
    left -30px
    font-size 0.25em
    content '$'
    translate-2d(0, -50%)
