include buttons.pug

mixin page-header(title, secondaryButtonText, primaryButtonText, cssClass)
  section.page-header(data-js="page-header" class=cssClass)
    h1= title
    +button-primary('button', 'page-header-primary-button')= primaryButtonText || 'Start for free'
    +button-secondary('button', 'page-header-secondary-button')= secondaryButtonText

mixin page-header-small(title, secondaryButtonText, primaryButtonText)
  +page-header(title, secondaryButtonText, primaryButtonText, 'page-header-small')
